<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6bb9bf">  <td>19/12/31 17:43:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCaseExecution.attendanceMenuPage()[pri:2, instance:test.HRMantra.com.TestCaseExecution@52af26ee]">attendanceMenuPage</td> 
  <td>main@1101048445</td>   <td></td> </tr>
<tr bgcolor="6bb9bf">  <td>19/12/31 17:43:30</td>   <td>-5</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCaseExecution.dashboardPage()[pri:1, instance:test.HRMantra.com.TestCaseExecution@52af26ee]">dashboardPage</td> 
  <td>main@1101048445</td>   <td></td> </tr>
<tr bgcolor="6bb9bf">  <td>19/12/31 17:43:30</td>   <td>-11</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCaseExecution.login()[pri:0, instance:test.HRMantra.com.TestCaseExecution@52af26ee]">login</td> 
  <td>main@1101048445</td>   <td></td> </tr>
<tr bgcolor="6bb9bf">  <td>19/12/31 17:43:19</td>   <td>-10347</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCaseExecution.test()[pri:0, instance:test.HRMantra.com.TestCaseExecution@52af26ee]">&gt;&gt;test</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1101048445</td>   <td></td> </tr>
</table>
